<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gestion de l'interventions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/accueil'">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/probleme'">Déclarer un probème</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<div class="mx-auto" style="width: 300px;"> 
  <div class="card text-center" style="width: 20rem;">
  <img class="card-img-top" src="../assets/images/logo.jpg" alt="ABC ma cie"> 
  <div class="card-body">
    <p class="card-text">Dévelopé par Pierre-Rafael Vellone</p> 
      <h3>
        <a href="www.compagie.abc">www.compagie.abc</a>
      </h3> 
  </div>
  </div>
</div>